body{
    overflow-x: hidden;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(241,234,234);
    

}
.introduction{
    background-color:rgb(255,255,255);
}
.bon{
    background-color:rgb(255,255,255);
}
.srv{
    background-color:rgb(255,255,255);
}
.wrk{
    background-color:rgb(255,255,255);
    margin-top: 1%;
}
.su{
    background-color:rgb(255,255,255);
    margin-top: -1%;
}
.last{
    background-color:rgb(255,255,255);
    margin-top: 1%;
}

.brandname{
    display: flex;
    padding: 20px;
}
nav li{
    list-style: none;
    display: inline;
    padding: 10px;
}
li a{
    text-decoration: none;
    text-align: center;
}
nav{
    font-size: 25px;
    text-align: center;
    margin-top: -5%;
}
.lets-talk{
    color: aliceblue;
    background-color: rgb(0, 132, 255);
    font-size: 20px;
    border-radius: 35px;
    width: 13%;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-left: 80%;
    margin-top: -1%;
}
.brand{
    display: flex;
    font-size: 15px;
    margin-top: 5%;
}
.brand h2{
    margin-left: -1%;
}
.abu{
    color:rgb(90,171,158) ;
}
.ig{
    background-color:rgb(250,186,49) ;
    font-size: 25px;
    border-radius: 50%;
    width: 8%;
    text-align: center;
}
.twt{
    background-color:rgb(72,160,145);
    font-size: 25px;
    border-radius: 50%;
    width: 8%;
    text-align: center;
    margin-left: 5%;
}
.tpi{
    display: flex;
    margin-top: -1%;
}
.intro{
    display: flex;
    padding: 50px;
}
.pic{
    margin-left: 20%;
    margin-top: 3%;
}
.text h1{
    font-size: 50px;
    margin-top: 5%;
}
.btn{
    margin-top: 15%;
    display: flex;
    padding: 10px;
    width: 300%;
   
    
}
.contact{
    color: white;
    background-color: rgb(72,160,145);
    border-radius: 25px;
    padding: 10px;
    width: 10%;
    border: none;
}
.promo{
    color: rgb(19, 18, 18);
    background-color: rgb(218, 218, 218);
    border-radius: 25px;
    padding: 10px;
    width: 10%;
    border: none;
    margin-left: 2%;
}
.bonus{
    display: flex;
    margin-top: 2%;
    
}
.bon1{
    margin-left: 12%;
}
.bon2{
    margin-left: 25%;
}
.bon3{
    margin-left: 25%;
}
.icons{
    display: flex;
    padding: 5%;
}
.logo{
    text-align: center;
    font-size: 15px;
    
}
.help{
    display: flex;
    margin-left: 9%;
    
}
.design{
    background-color:rgb(245,249,250) ;
    padding: 5%;
    
}
.dev{
    background-color:rgb(72,160,145) ;
    padding: 5%;
}
.mkt{
    background-color: rgb(234,246,254);
    padding: 5%;
}
.pg4{
    display: flex;
    margin-top: -2%;
    margin-left: -1%;

}
.photo{
    margin-top: 1%;
}
.txt p{
    font-size: 20px;
}
.txt h1{
    font-size: 40px;
}
.mp1-btn{
    color: black;
    background-color: rgb(228, 231, 231);
    border-radius: 25px;
    padding: 12px;
    width: 100%;
    font-size: 15px;
    border: none;
    text-align: left;
}
.snd{
    color: white;
    background-color: rgb(72,160,145);
    border-radius: 25px;
    padding: 10px;
    width: 50%;
    border: none;
    margin-top: 5%;
    margin-bottom: 10%;
}
.signup{
    text-align: center;
    margin-left: 12%;
    font-size: 20px;
    
}
.email{
    color: white;
    background-color: rgb(72,160,145);
    font-size: 20px;
    border-radius: 10px;
    height: 9vh;
    width: 45%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-top: 2%;
    margin-left: 25%;
    margin-bottom: 1%;
}
.sub{
    background-color: blue;
    border-radius: 10px;
    margin-bottom: 15%;
    padding: 3% 5%; 
    margin-top: 10%;
    margin: 25%;
   
}

.last{
    display: flex;
    margin-top: 1%;
    margin-bottom: 5%;
    font-size: 18px;  
}
.pics{
    margin-left: 20%;
    margin-top: 6%;
}
.input{
    border: none;
    outline: none;
    background-color: rgb(241,234,234);
    padding: 5%;
}
.txts h2{
    font-size: 20px;
}
.brand img{
    margin: 1%;
}
.logo h4{
    font-size: 15px;
}
.flme{
    display: flex;
    text-align: center;
    margin-left: 45%;
}
.flme img{
    margin-top: 1%;
    margin-left: 1%;
}
.txt h1{
    font-size: 15px;
}
.dgn{
    color: aliceblue;
    background-color:rgb(84,132,244);
    font-size: 25px;
    border-radius: 50%;
    width: 14%;
    height: 14%;
    text-align: center;
}
.dv{
    color: rgb(8, 8, 8);
    background-color:rgb(253,240,231);
    font-size: 25px;
    border-radius: 50%;
    width: 14%;
    height: 14%;
    text-align: center;
}
.mrkt{
    color: rgb(253,240,231);
    background-color:rgb(237,189,46);
    font-size: 25px;
    border-radius: 50%;
    width: 14%;
    height: 14%;
    text-align: center;;
    font-size: 25px;
    border-radius: 50%;
    text-align: center;
}
.txtmin{
    display: flex;
    margin-top: 20%;
}
.txtmin h2{
    margin-top: 20%;

}
.txts{
    margin-left: 8%;
}
.hww{
    display: flex;
}
.hww h1{
    font-size: 15px;
}
